.questions {
  width: 100%;
  margin: 0px auto;
}
.eachQuestion {
  border: 1px solid #000;
  float: left;
  color: whitesmoke;
  width: 270px;
  background-color: rgb(26, 26, 65);
  padding-right: 10px;
  word-wrap: break-word;
  font-size: small;
}
.selectOption {
  border: 1px solid #000;
  float: left;
  width: 130px;
  padding-right: 20px;
}
.options-select{
  border:1px solid #000; float:left; width:140px; padding-right: 10px;
}





