<nav class="navbar-top">
  Dashboard (Ethic Report Generation)
</nav>
<div class="row" style="background-color: rgb(1, 1, 53);">
<div class="col-sm-2" routerLink="/">
  <ul class="nav nav-tabs" id="myTab3" role="tablist">
    <li class="nav-item"  routerLink="/screen1">
      <a class="nav-link " id="home-vertical-tab" data-toggle="tab" href="#home-vertical" role="tab" aria-controls="home" aria-selected="true">
        <img class="card-img-left" src="../../assets/screenOneImg/report.png" alt="Card image cap">
      <p class="card-text-left">Report Generation</p>
      </a> </li>
    <li class="nav-item"> <a class="nav-link active" id="home-vertical-tab" data-toggle="tab" href="#profile-vertical" role="tab" aria-controls="profile" aria-selected="false">
      <img class="card-img-left" src="../../assets/screenOneImg/Metrics.png" alt="Card image cap">
      <p class="card-text-left">Metrics and Tools Glossary</p>
    </a> </li>
    <li class="nav-item" routerLink="/screen3"> <a class="nav-link" id="home-vertical-tab" data-toggle="tab" href="#profile-vertical" role="tab" aria-controls="profile" aria-selected="false">
      <img class="card-img-left" src="../../assets/screenOneImg/Risk.png" alt="Card image cap">
      <p class="card-text-left">Risk Assessment</p>
    </a> </li>
    <li class="nav-item" routerLink="/screen4"> <a class="nav-link" id="home-vertical-tab" data-toggle="tab"
      href="#profile-vertical" role="tab" aria-controls="profile" aria-selected="false">
      <img class="card-img-left" src="../../assets/screenOneImg/mdcs.png" alt="Card image cap">
      <p class="card-text-left">Catalogue Dashboard</p>
    </a> </li>
</ul>
</div>
<div class="col-sm-10">
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <img class="card-img-top" src="../../assets/screenOneImg/s2_1.png" alt="Card image cap">
        <h5 class="card-title">Metrics</h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img class="card-img-top" src="../../assets/screenOneImg/s2_2.png" alt="Card image cap">
        <h5 class="card-title">Tools</h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img class="card-img-top" src="../../assets/screenOneImg/s2_3.png" alt="Card image cap">
        <h5 class="card-title">Algorithms</h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img class="card-img-top" src="../../assets/screenOneImg/s2_4.png" alt="Card image cap">
        <h5 class="card-title">Guidelines</h5>
      </div>
    </div>


    <div class="card-group mt-4">
      <div class="card bottom">
        <div class="card-body-bottom">Debiasing Data
        </div>
      </div>
      <div class="card bottom">
        <div class="card-body-bottom">Debiasing Data
        </div>
      </div>
      <div class="card bottom">
        <div class="card-body-bottom">Debiasing Data
        </div>
      </div>
      <div class="card bottom">
        <div class="card-body-bottom">
          <p class="card-text">Debiasing Data</p>
        </div>
      </div>
      <div class="card bottom">
        <div class="card-body-bottom">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>

    <div class="card-group">
      <div class="card bottom">
        <div class="card-body-bottom">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card bottom">
        <div class="card-body-bottom">
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card bottom">
        <div class="card-body-bottom">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
      <div class="card bottom">
        <div class="card-body-bottom">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
      <div class="card bottom">
        <div class="card-body-bottom">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card1 mx-auto fixed-bottom" style="height:18px;width:350px; ">
<div class="card-header1" style="border-radius: 40px;font-size: 13px;">© Hitachi America, Ltd 2021. All
  rights
  reserved.</div>
</div>
</div>


