<nav class="navbar-top" routerLink="">
  Dashboard (Ethic Report Generation)
</nav>

<div class="row" style="background-color: rgb(1, 1, 53);">
  <div class="col-sm-2" routerLink="/">
    <ul class="nav nav-tabs" id="myTab3" role="tablist">
      <li class="nav-item" routerLink="/screen1">
        <a class="nav-link" id="home-vertical-tab" data-toggle="tab" href="#home-vertical" role="tab"
          aria-controls="home" aria-selected="true">
          <img class="card-img-left" src="../../assets/screenOneImg/report.png" alt="Card image cap">
          <p class="card-text-left">Report Generation</p>
        </a>
      </li>
      <li class="nav-item" routerLink="/screen2"> <a class="nav-link" id="home-vertical-tab" data-toggle="tab"
          href="#profile-vertical" role="tab" aria-controls="profile" aria-selected="false">
          <img class="card-img-left" src="../../assets/screenOneImg/Metrics.png" alt="Card image cap">
          <p class="card-text-left">Metrics and Tools Glossary</p>
        </a> </li>
      <li class="nav-item" routerLink="/screen3"> <a class="nav-link active" id="home-vertical-tab" data-toggle="tab" href="#profile-vertical"
          role="tab" aria-controls="profile" aria-selected="false">
          <img class="card-img-left" src="../../assets/screenOneImg/Risk.png" alt="Card image cap">
          <p class="card-text-left">Risk Assessment</p>
        </a> </li>
        <li class="nav-item" routerLink="/screen4"> <a class="nav-link" id="home-vertical-tab"
          data-toggle="tab" href="#profile-vertical" role="tab" aria-controls="profile" aria-selected="false">
          <img class="card-img-left" src="../../assets/screenOneImg/mdcs.png" alt="Card image cap">
          <p class="card-text-left">Catalogue DashBoard</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-sm-10">
    <div class="row">
      <div class="col-sm-6">
        <div class="row  row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5" style="height: 610px">
          <div class="col mt-4">
            <div class="card card1 color2">
              <h5 class="card-title1">Moderate</h5>
            </div>
          </div>
          <div class="col mt-4">
            <div class="card card1 color3">
              <h5 class="card-title1">Major</h5>
            </div>
          </div>
          <div class="col mt-4">
            <div class="card card1 color1">
              <h5 class="card-title1">Critical</h5>
            </div>
          </div>
          <div class="col mt-4">
            <div class="card card1 color1">
              <h5 class="card-title1">Critical</h5>
            </div>
          </div>
          <div class="col mt-4">
            <div class="card card1 color1">
              <h5 class="card-title1">Critical</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1 color2">
              <h5 class="card-title1">Moderate</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1 color3">
              <h5 class="card-title1">Major</h5>
            </div>
          </div>
          <div class="col ">
            <div class="card card1 color3">
              <h5 class="card-title1">Major</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1 color1">
              <h5 class="card-title1">Critical</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1 color1">
              <h5 class="card-title1">Critical</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1 color2">
              <h5 class="card-title1">Moderate</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1 color2">
              <h5 class="card-title1">Moderate</h5>
            </div>
          </div>
          <div class="col ">
            <div class="card card1 color3">
              <h5 class="card-title1">Major</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1 color3">
              <h5 class="card-title1">Major</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1">
              <h5 class="card-title1">Critical</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1 color4">
              <h5 class="card-title1">Minor</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1 color2">
              <h5 class="card-title1">Moderate</h5>
            </div>
          </div>
          <div class="col ">
            <div class="card card1 color2">
              <h5 class="card-title1">Moderate</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1 color3">
              <h5 class="card-title1">Major</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1">
              <h5 class="card-title1">Critical</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1 color4">
              <h5 class="card-title1">Minor</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1 color4">
              <h5 class="card-title1">Minor</h5>
            </div>
          </div>
          <div class="col ">
            <div class="card card1 color2">
              <h5 class="card-title1">Moderate</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1 color2">
              <h5 class="card-title1">Moderate</h5>
            </div>
          </div>
          <div class="col">
            <div class="card card1 color3">
              <h5 class="card-title1">Major</h5>
            </div>
          </div>

          <div class="col">
            <img class="card-img-up-arrow" src="../../assets/screenOneImg/y-axis.png" alt="Card image arrow">
            <p class="likelihood">Likelihood</p>
            <img class="card-img-left-arrow" src="../../assets/screenOneImg/x-axis.png" alt="Card image arrow">
          </div>

        </div>
        <p style="font-size: medium;color: whitesmoke; text-align: center;">Significance</p>
        <button class="generateButton mt-2"><i class="fa fa-list-alt" aria-hidden="true">&nbsp;Report
            Analysis</i></button>

      </div>

      <div class="col-sm-6">
        <div class="row">

          <div class="row bias-card">
            <div class="col-sm-4 mt-4">
              <div class="card border">
                <div class="card-body">
                  <h5 class="card-title">Bias</h5>
                  <select class="browser-default custom-select">
                    <option selected>--select--</option>
                    <option class="option" value="Low">Low</option>
                    <option class="option" value="Fair">Fair</option>
                    <option class="option" value="Good">Good</option>
                    <option class="option" value="High">High</option>
                    <option class="option" value="Very High">Very High</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4 mt-4">
              <div class="card border ">
                <div class="card-body">
                  <h5 class="card-title">Fairness</h5>
                  <select class="browser-default custom-select">
                    <option selected>--select--</option>
                    <option class="option" value="Low">Low</option>
                    <option class="option" value="Fair">Fair</option>
                    <option class="option" value="Good">Good</option>
                    <option class="option" value="High">High</option>
                    <option class="option" value="Very High">Very High</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4 mt-4">
              <div class="card border">
                <div class="card-body">
                  <h5 class="card-title">Security</h5>
                  <select class="browser-default custom-select">
                    <option selected>--select--</option>
                    <option class="option" value="Low">Low</option>
                    <option class="option" value="Fair">Fair</option>
                    <option class="option" value="Good">Good</option>
                    <option class="option" value="High">High</option>
                    <option class="option" value="Very High">Very High</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card border">
                <div class="card-body">
                  <select class="browser-default custom-select">
                    <option selected>--select--</option>
                    <option class="option" value="Low">Low</option>
                    <option class="option" value="Fair">Fair</option>
                    <option class="option" value="Good">Good</option>
                    <option class="option" value="High">High</option>
                    <option class="option" value="Very High">Very High</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card border">
                <div class="card-body">
                  <select class="browser-default custom-select">
                    <option selected>--select--</option>
                    <option class="option" value="Low">Low</option>
                    <option class="option" value="Fair">Fair</option>
                    <option class="option" value="Good">Good</option>
                    <option class="option" value="High">High</option>
                    <option class="option" value="Very High">Very High</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card border">
                <div class="card-body">
                  <select class="browser-default custom-select">
                    <option selected>--select--</option>
                    <option class="option" value="Low">Low</option>
                    <option class="option" value="Fair">Fair</option>
                    <option class="option" value="Good">Good</option>
                    <option class="option" value="High">High</option>
                    <option class="option" value="Very High">Very High</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card border">
                <div class="card-body">
                  <select class="browser-default custom-select">
                    <option selected>--select--</option>
                    <option class="option" value="Low">Low</option>
                    <option class="option" value="Fair">Fair</option>
                    <option class="option" value="Good">Good</option>
                    <option class="option" value="High">High</option>
                    <option class="option" value="Very High">Very High</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card border">
                <div class="card-body">
                  <select class="browser-default custom-select">
                    <option selected>--select--</option>
                    <option class="option" value="Low">Low</option>
                    <option class="option" value="Fair">Fair</option>
                    <option class="option" value="Good">Good</option>
                    <option class="option" value="High">High</option>
                    <option class="option" value="Very High">Very High</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card border">
                <div class="card-body">
                  <select class="browser-default custom-select">
                    <option selected>--select--</option>
                    <option class="option" value="Low">Low</option>
                    <option class="option" value="Fair">Fair</option>
                    <option class="option" value="Good">Good</option>
                    <option class="option" value="High">High</option>
                    <option class="option" value="Very High">Very High</option>
                  </select>
                </div>
              </div>
            </div>
            <button class="generateButton  mt-3"><i class="fa fa-list-alt" aria-hidden="true">&nbsp;Report
                Category</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card2 mx-auto fixed-bottom text-center">
    <div class="card-header1" style="border-radius: 40px;font-size: 13px; color: black; ">© Hitachi America, Ltd 2021.
      All
      rights
      reserved.</div>
  </div>